
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Golos Text', sans-serif;
  font-weight: 500;
  /* border: solid; */
  /* width: 100%; */
}

/* --------------------- NAVIGATION BAR ------------------------------------------ */

.signupbtn{
  background-color: #26CECF;
  color: white;
}

.buttonclass{
  color: #10c0c0;
}

.logoclass{
  font-size: 30px;
  font-weight: bold;
}

.valbtn{
  font-weight: 500;
}


/* --------------------- HOME PAGE ------------------------------------------ */

.heroh1{
  font-size: 70px;
  font-weight: 700;
  /* word-spacing: 5px; */
}

.herospan{
  color: #10c0c0;
  font-size: 18px;
  word-spacing: 2px;
}

.herobtn{
  background-color: #10c0c0;
  border-radius: 20px;
  padding: 10px 25px;
  font-weight: 500;
  border-color: white;

}

.heroimage{
  height: 380px;

}


/* --------------------- INPUT BOX ------------------------------------------ */


.inputcage{
  padding: 20px;
  background-color: #4B406B;
  margin-top: 60px;
  border-radius: 10px;
}

.inputbox{
  width: 930px;
  height: 50px;
  border-radius: 10px;
  border: none;
}

.inputbtn{
  background-color: #10c0c0;
  border-radius: 10px;
  padding: 10px 25px;
  font-weight: 500;
  margin-bottom: 25px;
  margin-left: 10px;
  border-color: white;
}

/* --------------------- STATISTICS BOX ------------------------------------------ */



.statscontainer{
  background-color: #F0F1F6;
  padding-top: 100px;
  padding-bottom: 100px;
  
}

.statsoptionsbox{
  margin-left: 60px;
}

.statsh1{
  font-weight: bold;
}

.statspan{
  color: #10c0c0;
}

.card-text{
  color: #10c0c0;
  font-size: 12px;
}

.statboximg{
  background-color: #3C3054;
  height: 60px;
  width: 62px;
  border-radius: 30px;
}

.statboximg img{
  margin-left: 10px;
  height: 36px;
  margin-top: 10px;
  margin-left: 13px;
}


/* --------------------- SUB FOOTER BOX ------------------------------------------ */

.subfootercage{
  background-color: #4B406B;
  padding: 80px 0;
  color: white;
}

.subfbtn{
  background-color: #10c0c0;
  border-radius: 20px;
  padding: 10px 35px;
  font-weight: 500;
  border: none;
  color: white;
}

.subfbtn:hover{
  background-color: rgb(74, 74, 180);
}

/* --------------------- FOOTER BOX ------------------------------------------ */

.footerbox{
  background-color: rgb(24, 23, 23);
  padding: 70px 0 ;
}

.footerrow{
  width: 100%;
}

.footerlogo{
  margin-left: 80px;
  margin-top: 5px;
}

.footerftrs a{
  text-decoration: none;
  color: rgb(171, 151, 151);
}

.footerftrs1{
  margin-left: 50px;
  margin-right: 40px;
}
.footerftrs2{
  margin-right: 40px;
}

.sicon{
  font-size: 25px;
  margin-left: 25px;
  margin-top: 15px;
}

.sicon:hover{
  transform: translateY(2px);
}


.footeroptions:hover{
  color: white;
}

.fa-copyright{
  font-size: 20px;
}

.fa-copyrighttext{
  display: inline-block;
}

.copyfooter{
  background-color: #4B406B;
}

/* .siconcage{
  background-color: red;
} */